# Raw data (too large for GitHub)
data/raw/*.csv
data/raw/*.tar.gz

# Mac
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
